/*body { 
    margin: 0;
    padding: 0;    
    height: 100%;
}

#background {
    padding:5%;
    background-color: rgb(0, 0, 0);
}

nav {
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 1px;
    padding-bottom: 15px;
    display: flex;
}


#lang {
    color:white;
    width:100%;
    }


    #lang a {
        text-decoration:none;
        color:white;   
        margin-top: 1em; 
        font-family: 'Roboto Condensed', sans-serif;

        }

  .bold {
        font-weight:bold;
    }

    .breadcrumbs {
        color: white;
        font-family: 'Roboto Slab', serif;
        font-size: .8em;
    }

    .breadcrumbs span {
        font-family: 'Playfair Display', serif;
    }
    */