
:root {
    --button: #e06c49;
}

html,body{
	margin: 0;
	padding: 0;
    height: 100%;
}

#wrapper {
display:flex;
justify-content: center;
height:100%;
background-image: url("../img/background.png");
background-repeat: no-repeat;
background-size: cover;
}

#mainbox {
background-color: #000000;
width:50%;
height:45%;
align-self: flex-end;
display:flex;
padding:5% 5% 3% 5%;
flex-wrap:wrap;
}

.lang {
color:white;
width:100%;
}

.lang a {
text-decoration:none;
color:white;   
margin-top: 1em; 
font-family: 'Roboto Condensed', sans-serif;
}

h1{
    color:white;
    font-family: 'Playfair Display', serif;
    font-size: 2.1em;
    margin:0;
    line-height: 100%;

}
#maintext{
    width: 100%;
    color:white;
    margin-bottom:8%;
}


#maintext p{
    font-family: 'Roboto Slab', serif;
    color: white;
    margin:0;
    font-size: .85em;
}

#enter {   
    margin: auto; 
}

#enter a {
  
    text-decoration: none;  

}

.button {
    background-color: var(--button);
    padding: 12px 28px;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 4px;
    border-radius: 2%;
    font-size: .6em;
    color:white;  
}




#icon{
    color:white;
    display:flex; 
    justify-content:center;
    width:100%;
}

#logos {
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    width:100%;

    
}

.responsive {
    max-width: 100%;
    max-height: 50px;
}

.bold {
    font-weight:bold;
}


/* GALERIA  */

.background {
    padding:5%;
    background-color: rgb(0, 0, 0);
    height: 100%;
}

nav {
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 1px;
    padding-bottom: 10px;
    display: flex;
}

nav img {
    width: 30px;
    margin-left: 20px;
   
}

.breadcrumbs {
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: .8em;
    position: relative;
}

.breadcrumbs span {
    font-family: 'Playfair Display', serif;
}



#bigcontainer {
    display: flex;
   height:75%;
   margin-top: 50px;
}

#gallery {
    width: 80%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.leftarrow img, .rightarrow img {   
    width:30%;
    align-self:center;
}

#flexcont {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    
    
}

.frame {
    position: relative;

}

.layer {
    display:none;
    background-color:/* rgba(224, 108, 73, 0.5);*/ rgba(255, 38, 0, 0.4);
    height:200px;
    width: calc(100% - 10px);
    position:absolute;
    /*opacity: .5;*/
    top:0;
    margin:5px;
    color:white;
}

#flexcont img {

    height: 200px;
    padding:5px;
    
}


.frame:hover .layer {
    display: block;
   
}

.footer {
    border-top-style: solid;
    border-top-color: white;
    border-top-width: 1px;
    padding-top: 15px;
    margin-top: 5%;
}

.footer img {
    width: 25px;
}

.layer span:nth-of-type(1){
    font-family: 'Playfair Display', serif;
    
}

.layer span:nth-of-type(2){
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    
}

.layer span:nth-of-type(3){
    font-family: 'Roboto Slab', serif;
   
}

.layer p{
    position: absolute;
    bottom:0;
    width: 60%;
    font-size: .6em;
    padding-left: 5%;
}

/* CARTONE - FICHA */

.breadcrumbs img {
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    
}

#cartone {
    color: white;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
   
}

.imgdiv, .bigtxtdiv, .txtdiv, .btndiv {
    width: 65%;
}

.imgdiv {
 height: 50%;
 
 border-style: solid;
 text-align:center;
}

.imgdiv img {

height:100%;
}

.bigtxtdiv {

color:white;
height: 15%;
padding: 5% 0;
}

h3 {
    font-family: 'Playfair Display', serif;
    line-height: 50%;
}

.bigtxtdiv p {
    font-family: 'Roboto Slab', serif;
    line-height: 50%;
    font-size:.8em;
}

.txtdiv {
border-top-style: solid;
border-top-width: 1px;
color:white;
font-family: 'Roboto Slab', serif;
height: 20%;   
font-size:.7em;

}

.btndiv {
  
position: relative:
}

#esplora {   
   display: inline;
   width: auto;
   position: absolute;
   margin-top: 10px;
}

#esplora a {

    text-decoration: none;  
    
}

/* IMMAGINE  */

#immagine {
height: 80%;
display: flex;
flex-direction: column;
align-items: center;
}

#imgcont {
height: 78%;
margin-top: 10%;
}

#imgcont img {

max-width:100%; 
max-height:100%;   
}

.percent {
    display: flex;
    margin-top: 5%;
    color: white;   
    
}

.percent p {
    margin: auto;
    text-align: center;
    padding: 0 15px;
    font-family: 'Roboto Slab', serif;
}



.percent img {
    height: 30px;
}

.iconsrow {
    display:flex;
    margin-top: 5%;
}

.iconsrow img {
    height: 45px;
    padding: 0 25px;
}